---
layout: default
title: Blog
generator: pagination
use:
    - posts

---

<div class="wrapper">
    <div class="content">

        <div class="blog">

            <header>
                <h1>{{ page.title }}</h1>
            </header>

            <div class="pure-g pure-g-gutter">
                {% for post in page.pagination.items %}
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                        <article class="card">
                            <a href="{{ post.url }}" title="{{ post.title }}">
                                <img src="/images/blog/{{ post.image|default('default.jpg') }}" alt="{{ post.title }}" class="pure-img" />
                            </a>
                            <div class="card-body">

                                <p class="card-date">{{ post.date|date("Y-m-d") }}</p>

                                <a href="{{ post.url }}" title="{{ post.title }}">
                                    <h3 class="card-title">{{ post.title }}</h3>
                                </a>

                                <p class="card-copy">
                                    {{ post.excerpt|default('...') }}
                                </p>

                            </div>
                        </article>

                    </div>
                {% endfor %}

                <div>
                    {% if page.pagination.previous_page or page.pagination.next_page %}
                        <nav class="article clearfix">
                            {% if page.pagination.previous_page %}
                                <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
                            {% endif %}
                            {% if page.pagination.next_page %}
                                <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
                            {% endif %}
                        </nav>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</div>


